body{
    background: -webkit-repeating-radial-gradient(red 10% , rgba(176, 243, 159, 0.781) 10%, yellow 11%, rgb(172, 153, 153) 1% , blue 8%, green 40% ,rgba(194, 219, 233, 0.685) 20%); 
            background: -o-repeating-radial-gradient(rgb(77, 104, 97), rgb(119, 0, 255), rgb(136, 218, 207), red, rgba(241, 243, 142, 0.548), green,pink); 
            background: -moz-repeating-radial-gradient(red, rgb(245, 217, 234), rgb(0, 0, 0), rgb(129, 136, 138), blue, green,pink); 
            background: repeating-radial-gradient(rgb(10, 107, 75), rgb(22, 235, 128), rgb(255, 255, 255), rgb(211, 181, 181), blue, rgba(139, 218, 139, 0.541),pink); 
}
#OP{
    margin-left: 700px;
}
#HeaderText{
    font-family: 'Dancing Script', sans-serif;
    font-size: 30px;
}
#FiniResult{
    box-shadow: 5px 10px 15px gold;
}
img:hover{
    animation-name: Beveler;
    animation-duration: 4s;
    animation-iteration-count: 5;
}
@keyframes Beveler{ 
    from, 1%, 2%, 3%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translate3d(0,0,0);
    }
    5%,7%{animation-timing-function: cubic-bezier(0.955, 0.010, 0.850, 0.960); transform: translate3d(30px, 0px, 0);
    }
    9%{ animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translate3d(-60px, 0px, 0);}
    10% {
      transform: scale3d(1.5, 1.5, 1.5);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
    from {
      transform: scale3d(1, 1, 1);
    }
  
    12% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    18% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    25% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    32% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    45% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
    from, to {
      transform: translate3d(0, 0, 0);
    }
  
    47%, 58%, 67%, 71%, 79% {
      transform: translate3d(-10px, 0, 0);
    }
  
    81%, 83%, 85%, 89% {
      transform: translate3d(10px, 0, 0);
    }
    90%{transform: translate3d(10px,10px,10px);
    }
    93% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translate3d(-60px, 0px, 0);
    }
    96% { transform: translate3d(0px,30px,0px); }
}